body {
    width: 850px;
    margin:0 auto;
    background-image: url(galaxies.jpg);
    background-size: contain;
}



main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px; 
    font-family:'Changa', sans-serif;
}

section{
    display: flex;
    justify-content: space-between;
    height: 324px;
    padding-left: 60px;
    font-family: 'Roboto', sans-serif;
}

div {
    width: 270px;

}

h1{
    background-color:#ff69b4;
    padding: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: white;


}

p{ 
    color: white;


}

h3{
    color: white;
}